@font-face {
  font-family: "Bookerly";
  src: url(fonts/Bookerly.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Bookerly";
  src: url(fonts/Bookerly\ Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Bookerly";
  src: url(fonts/Bookerly\ Italic.ttf) format("truetype");
  font-style: italic;
}

* {
  border: 1px solid black;
}

body {
  font-family: "Bookerly";
  font-weight: bold;
  font-size: 40px;
}

.main {
  display: grid;
  /* grid-template-columns: ; */
}
.header {
  animation: fadeIn;
  animation-duration: 4s;
  color: brown;
}
