@font-face {
  font-family: "Bookerly";
  src: url(fonts/Bookerly.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Bookerly";
  src: url(fonts/Bookerly\ Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Bookerly";
  src: url(fonts/Bookerly\ Italic.ttf) format("truetype");
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-family: "Bookerly";
}

hr {
  height: 3px;
  width: 85%;
  margin: 0 auto;
  background-color: black;
  animation: fadeInDown;
  animation-duration: 3s;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 45px;
  padding-right: 10px;
}

.header-title svg:hover {
  color: red;
  cursor: pointer;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* animations  animations  animations  animations  animations  animations */
.header {
  animation: fadeInLeft;
  animation-duration: 1s;
}
.page-contain * {
  animation: pulse;
  animation-duration: 1s;
}

/* CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD  CARD */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  -webkit-box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.45s ease, -webkit-transform 0.45s ease;
  transition: background 0.45s ease, -webkit-transform 0.45s ease;
  transition: transform 0.45s ease, background 0.45s ease;
  transition: transform 0.45s ease, background 0.45s ease,
    -webkit-transform 0.45s ease;
}

.card .card-title {
  color: #2e3c40;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #753bbd;
  -webkit-transition: color 0.45s ease, border 0.45s ease;
  transition: color 0.45s ease, border 0.45s ease;
}

.card .card-author {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  -webkit-transition: color 0.45s ease;
  transition: color 0.45s ease;
}

/* .card p {
  opacity: 0;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  -webkit-transform: translateY(-1em);
  transform: translateY(-1em);
  -webkit-transition: opacity 0.45s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.45s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.45s ease, transform 0.5s ease;
  transition: opacity 0.45s ease, transform 0.5s ease,
    -webkit-transform 0.5s ease;
} */

.card .read-status {
  display: block;
  color: #753bbd;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  -webkit-transition: color 0.45s ease;
  transition: color 0.45s ease;
}

.card .read-status svg {
  margin-left: 9.7em;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.card .read-status svg path {
  -webkit-transition: fill 0.45s ease;
  transition: fill 0.45s ease;
}

.card:hover {
  background: #753bbd;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.card:hover .card-title {
  color: #ffffff;
  border-bottom-color: #a754c4;
}

.card:hover .card-author {
  color: #ffffff;
}

.card:hover p {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.card:hover .read-status {
  color: #ffffff;
}

.card:hover .read-status svg {
  -webkit-animation: point 1.25s infinite alternate;
  animation: point 1.25s infinite alternate;
}

.card:hover .read-status svg path {
  fill: #ffffff;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@-webkit-keyframes point {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0.125em);
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0.125em);
    transform: translateX(0.125em);
  }
}
